watch_file env.yaml
if command -v nix &> /dev/null; then
  use flake
else
  if [ ! -f "/tmp/micromamba.zsh" ]; then
    micromamba shell hook --shell=zsh > /tmp/micromamba.zsh
  fi
  source /tmp/micromamba.zsh
  micromamba activate clio
fi
# env
dotenv_if_exists .env
dotenv_if_exists .env.local
