watch_file env.yaml
if command -v nix &> /dev/null; then
  use flake
else
  if [ -n $ZSH_NAME ]; then
    if [ ! -f "/tmp/micromamba.zsh" ]; then
      micromamba shell hook --shell=zsh > /tmp/micromamba.zsh
    fi
    source /tmp/micromamba.zsh
  fi

  if [ -n $BASH ]; then
    if [ ! -f "/tmp/micromamba.bash" ]; then
      micromamba shell hook --shell=bash > /tmp/micromamba.bash
    fi
    source /tmp/micromamba.bash
  fi
  
  micromamba activate clio
fi

# env
dotenv_if_exists .env
dotenv_if_exists .env.local
export CLIO="$(pwd)"
